{
  "presets": [
    "@babel/stage-3",
    "@babel/react",
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["module-resolver", { "root": ["./src"] }],
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}